*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all ease-out 0.6s;
  -webkit-transition: all ease-out 0.6s;
  -moz-transition: all ease-out 0.6s;
  -ms-transition: all ease-out 0.6s;
  -o-transition: all ease-out 0.6s;
}

body{
  font:16px/1.5 -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* //dark mode */
.dark{
  background: #444;
  color: #fff;
  transition: all ease-out 0.8s;
  -webkit-transition: all ease-out 0.8s;
  -moz-transition: all ease-out 0.8s;
  -ms-transition: all ease-out 0.8s;
  -o-transition: all ease-out 0.8s;
}
header.dark{
  border-bottom: 3px solid #ffffff8e;
}


header{
  height: 20vh;
  background: brown;
  transition: all ease-out 0.8s;
  -webkit-transition: all ease-out 0.8s;
  -moz-transition: all ease-out 0.8s;
  -ms-transition: all ease-out 0.8s;
  -o-transition: all ease-out 0.8s;
}

.container{

  width: 80%;
  margin: auto;
  overflow: hidden;
}

nav{
  display: flex;
  justify-content: space-between;

}
nav a{
  color: #ff00c8;
  text-decoration: none;
  font-size: 4.5rem;
  letter-spacing: -0.8rem;
  text-shadow: -1px -1px 1px #ffffff, 1px -1px 1px #000;
}

nav h2{
  color:#f1960d;
  text-decoration: none;
  font-size: 3rem;
  flex: 2;
  margin-top: 1.7rem;
  text-align: center;
  text-shadow: -1px -1px 1px #ffffff, 1px -1px 1px #000;
}
header .lM{
  cursor: pointer;
  padding: 7px 10px;
  border-radius: 10px;
  position: absolute;
  margin-top: -3.3rem;
  right: 7vw;
  text-shadow: 1px -1px 1px #ffffff96, 1px 1px 1px #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: 1px solid #fff;
  font-weight: bold;
  background-color: #ff00c8;
}
header button.dark{
  border: 1px solid #f1960d;
  letter-spacing: 1px;
  background-color: #444;
}

/* //main-body */
.main-body{
  background-color: rgba(224, 215, 215, 0.438);
  min-height: calc(80vh - 60px);
}

  .main-content{
    padding: 2rem;
    width: 60%;
    margin:2rem auto;
    border: 2px solid brown;
  }
  .result .result-main{
    font-size: 1.7rem;
    color: #8a0808;
  }
  .result .result-status{
    text-align: center;
    font-weight: bold;
    color: #8a0808;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px  #000, 0.5px 0.5px  #fff;
  }

  .selectUnit {
    color: #8a0808;
    font-weight: bold;
    border: 1.2px #8a0808 solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    background-color: rgb(223, 217, 217);
    font-size: 15px;
    text-shadow: 1px -1px 1px #ffffff96, 1px 1px 1px #000;
}
.selectUnit:hover{
  background: #444;
  color: rgba(255, 255, 255, 0.719);
}

  form{
    margin: 1rem 0;
  }
  .input-field{
    margin: 1rem 0;
  }

  .form-control{
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    background-color: rgb(223, 217, 217);
}
label{
  background-color: #f1960d94;
  color: #8a0808;
  border-radius: 5px;
  padding: 9px 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.input-field:nth-child(1) > label{
  margin-right: 0.4rem;
  padding-right: 22px;
}

.btn{
  background-color: #f09610;
  border:1px solid #fbff0093;
  box-shadow: -2px 5px rgba(0, 0, 0, 0.445);
  font-size: 1.4rem;
  color: #8a0808;
  margin-top: 1rem;
  padding: 7px 10px;
  outline: none;
  text-shadow: 1px -1px 1px #ffffff96, 1px 1px 1px #000;
}

.btn:hover{
  box-shadow: 2px -5px rgba(68, 68, 68, 0.425);
  transition: all ease-out 0.8s;
  padding: 6px 9px;
}

/* //footer */

.main-footer{
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  color: white;
  background-color: #000;
  height: 60px;
}

/* //Dark mode */

.main-body.dark{
  background-color: #444;
}
.main-body.dark label{
  background-color: #ffffffc2;
}

.main-body.dark  .main-content{
  border: 2px solid #ffffffc2;
}

.main-body.dark .result-main{
  color: #fff;
}
.main-body.dark .result-status{
  color: #f09610;
}
/* //medai query */

@media(max-width:1140px) and (min-width:789px){
  nav h2{
    font-size: 2.2rem;
    margin-top: 8vh;
  }

  .result .result-main{
    font-size: 1.1rem;
  }
  .result .result-status{
    font-size: 0.8rem;
  }
}
/* //Medium screen */
@media(max-width:788px){
  .container{
    width: 90%;
  }
  header .lM{
    padding: 5px 7px;
    position: absolute;
    margin-top: -6rem;
    right: 5vw;

}

  nav h2{
    font-size: 2rem;
    margin-top: 8vh;
    text-align: right;
  }
  .main-content{
    padding: 2rem;
    width: 100%;
     margin: 2rem auto;
  }
  .result .result-main{
    font-size: 1.2rem;
    text-align: center;
  }
  .result .result-status{
    font-size: 0.9rem;
  }

}
/* //small screen media */
@media(max-width:500px){
  nav h2{
    font-size: 1.5rem;
    margin-top: 9vh;
  }
  .main-content{
    padding: 1rem 1rem 0 1rem;
    width: 100%;
     margin: 1rem 0;
  }
  .result .result-main{
    font-size: 1.2rem;
    text-align: center;
  }
.input-field:nth-child(1){
  margin-bottom: 2rem;
}
  .input-field .form-control{
    display: block;
    margin-top: 1rem;
  }
}

@media(max-width:400px){
  /* body{
    display: none;
  } */
  nav h2{
    font-size: 1.4rem;
    margin-top: 2vh;
    position: absolute;

  }
  nav a{
  font-size: 1.5rem;
  margin-top: 9vh;
  letter-spacing: -0.4rem;
  }
  .main-content{
    padding: 1rem 0.5rem 0.5rem 0 0.5rem;
    width: 100%;
     margin-top: 1rem;
  }
  .result .result-main{
    font-size: 0.8rem;
    text-align: center;
  }
.input-field:nth-child(1){
  margin-bottom: 2rem;
}
  .input-field .form-control{
    display: block;
    margin-top: 1rem;
    width: 90%;
  }
  .main-footer{
    font-size: 1rem;
  }
  header .lM{
    padding: 3px 2px;
    margin-top: -1.7rem;
    right: 5vw;
    font-size: 0.6rem;
}
}

@media(max-width:250px){
  .main-footer{
    font-size: 0.6rem;
  }
  nav h2{
    font-size: 1rem;
    margin-top: 2vh;

  }
  .result .result-main{
    font-size: 0.6rem;
    text-align: left;
  }
  label{
    padding: 4px 4px;
    font-size: 15px;
  }
  
  .btn{
    font-size: 1rem;
    color: #8a0808;
    margin-top: 0.3rem;
    padding: 5px;
    width: 100%;
    }
    .input-field .form-control{
      margin-top: 0.5rem;
      width: 90%;
    }
}